services:
  image_mcp_server:
    build: ./mcp_servers/image_mcp
    container_name: image_mcp_server
    ports:
      - "8001:8001"
    volumes:
      - ./storage/images:/storage/images
    env_file: 
      - ./mcp_servers/image_mcp/.env

  filesystem_mcp_server:
    build: ./mcp_servers/filesystem_mcp
    container_name: filesystem_mcp_server
    ports:
      - "8002:8002"
    volumes:
      - ./storage/docs:/storage/docs

  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama
    restart: unless-stopped
    entrypoint: ["/bin/sh", "-c"]
    command: >
      "ollama serve & 
      sleep 3 && 
      ollama pull deepseek-r1:1.5b &&
      tail -f /dev/null"

  open-webui:
    image: ghcr.io/open-webui/open-webui:ollama
    container_name: open-webui
    ports:
      - "3000:8080"
    environment:
      OLLAMA_BASE_URL: http://ollama:11434
    depends_on:
      ollama:
        condition: service_started
    volumes:
      - open-webui:/app/backend/data
    restart: unless-stopped

volumes:
  ollama:
  open-webui:
